* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  background: black;
  padding: 10px;
}

button {
  color: #fff;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 12px;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}
::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: black;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}

.main-container {
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 96dvh;
  padding: 10px 20px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  gap: 10px;
}

.main-container .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.main-container .details h4 {
  font-style: italic;
}

.main-container .details a {
  padding: 5px 15px;
  background: #fff;
  color: black;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 5px;
}

.main-container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container .title a {
  text-decoration: none;
  color: #fff;
}

.main-container .title a h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-container .title a h1 img {
  width: 17%;
  margin-right: 10px;
}

.main-container .title .line {
  padding: 3px;
  background: #fff;
  border-radius: 50px;
  width: 30%;
  margin-top: 3px;
}

.main-container .content {
  padding: 10px 15px;
  border: 2px solid #fff;
  width: 100%;
  border-radius: 20px;
  height: 70dvh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-container .content .content-card {
  padding: 10px 15px;
  border: 2px solid #fff;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container .content .content-card .card-title {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.main-container .content .content-card .card-title img {
  width: 8%;
  border-radius: 6px;
  margin-right: 15px;
}

.main-container .content .content-card .card-title h4 {
  color: #ffffffae;
}

.main-container .content .content-card .card-title h4 span {
  color: #fff;
}

.main-container .content .content-card .card-content {
  margin-top: 5px;
}

.main-container .content .content-card .card-end {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.main-container .content .content-card .card-end button {
  padding: 10px 15px;
  background: black;
  border: 2px solid #fff;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.main-container .content .content-card .card-end button:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.3s ease-in-out;
}

.main-container .end {
  width: 100%;
}

.main-container .end form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
}

.main-container .end form input {
  padding: 10px;
  border-radius: 50px;
  border: 2px solid #fff;
  width: 90%;
  background: black;
  color: #fff;
  font-size: 0.8rem;
}

::placeholder {
  color: #fff;
  font-size: 0.8rem;
}

.main-container .end form button {
  border: none;
  background: black;
  color: #fff;
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.main-container .end form button:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.3s ease-in-out;
}

.main-container .end form button img {
  width: 35%;
}
