* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  background: black;
  padding: 10px;
}

button {
  color: #fff;
}

input {
  background: black;
  border: 2px solid #fff;
  color: #fff;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 12px;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}
::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: black;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}

/* Chat Container Starts Here */

.main-container {
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 96dvh;
  padding: 10px 20px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  gap: 10px;
}

.main-container .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.main-container .details h4 {
  font-style: italic;
  text-transform: capitalize;
}

.main-container .details h4 a {
  color: #fff;
  text-decoration: none;
}

.main-container .details h4 a:hover {
  text-decoration: underline;
}

.main-container .details .btn {
  padding: 8px 15px;
  background: #fff;
  color: black;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}

.main-container .details .btn:hover {
  background: #ffffff9e;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.main-container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container .title a {
  text-decoration: none;
  color: #fff;
}

.main-container .title a h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-container .title a h1 img {
  width: 13%;
  margin-right: 5px;
}

.main-container .title .line {
  padding: 3px;
  background: #fff;
  border-radius: 50px;
  width: 30%;
  margin-top: 5px;
}

.main-container .content {
  padding: 20px;
  border: 2px solid #fff;
  width: 100%;
  border-radius: 20px;
  height: 70dvh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-container .content .account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.main-container .content .account-container .account-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container .content .account-container .account-head img {
  width: 16%;
  border-radius: 15px;
}

.main-container .content .account-container .account-head h4 {
  margin-top: 5px;
  text-transform: capitalize;
}

.main-container .content .account-container .account-head a {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  margin-top: 10px;
  padding: 8px 15px;
  border-radius: 6px;
  background: #fff;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.main-container .content .account-container .account-head a:hover {
  background: #ffffff9e;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.main-container .content .account-container .account-head-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.main-container .content .account-container .account-content {
  margin-top: 10px;
  border: 2px solid #fff;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.main-container .content .account-container .account-content .title {
  padding: 10px;
}

.main-container .content .account-container .account-content .title .line {
  width: 10%;
}

.main-container .content .content-card {
  padding: 10px 15px;
  border: 2px solid #fff;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.main-container .content .content-card .card-title {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.main-container .content .content-card .card-title img {
  width: 8%;
  border-radius: 6px;
  margin-right: 10px;
}

.main-container .content .content-card .card-title h4 {
  color: #ffffffae;
  font-style: italic;
}

.main-container .content .content-card .card-title h4 span {
  color: #fff;
  font-style: normal;
  text-transform: capitalize;
}

.main-container .content .content-card .card-title h4 span a {
  color: #fff;
  text-decoration: none;
}

.main-container .content .content-card .card-title h4 span a:hover {
  text-decoration: underline;
}

.main-container .content .content-card .card-title .delete {
  width: 4.5%;
  margin-left: 40%;
}

.main-container .content .content-card .card-title .delete img {
  width: 100%;
}

.main-container .content .content-card .card-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 8px;
}

.main-container .content .content-card .card-content p {
  font-weight: 500;
  font-size: 0.9rem;
  margin-left: 5px;
}

.main-container .content .content-card .card-end {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.main-container .content .content-card .card-end button {
  padding: 10px 15px;
  background: black;
  border: 2px solid #fff;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  color:#fff;
}

.main-container .content .content-card .card-end button:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.3s ease-in-out;
  border: 2px solid rgb(2, 139, 253);
}

.main-container .content .content-card .card-end button.liked {
  border: 2px solid rgb(2, 139, 253);
}

.main-container .content .content-card .card-end button:active {
  border: 2px solid rgb(2, 139, 253);
}

.main-container .content .content-card .card-end button:focus {
  border: 2px solid rgb(2, 139, 253);
}

.main-container .end {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
}

.main-container .end form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
}

.main-container .end form input {
  padding: 10px 15px;
  border-radius: 50px;
  border: 2px solid #fff;
  width: 90%;
  background: black;
  color: #fff;
  font-size: 0.8rem;
}

::placeholder {
  color: #fff;
  font-size: 0.8rem;
}

.main-container .end form button {
  border: none;
  background: black;
  color: #fff;
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.main-container .end form button:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.3s ease-in-out;
}

.main-container .end form button img {
  width: 35%;
}

/* Chat Container Ends Here */

/* Login Container Starts Here */
.login-container {
  width: 40%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 96dvh;
  padding: 10px 20px;
  /* border: 2px solid #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  gap: 10px;
}

.login-container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container .title a {
  text-decoration: none;
  color: #fff;
}

.login-container .title a h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-container .title a h1 img {
  width: 13%;
  margin-right: 5px;
}

.login-container .title .line {
  padding: 3px;
  background: #fff;
  border-radius: 50px;
  width: 30%;
  margin-top: 5px;
}

.login-container form {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.login-container form label {
  font-weight: 500;
  margin-top: 10px;
}

.login-container form input {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.8rem;
}

.login-container form button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
  border: none;
  transition: 0.3s ease-in-out;
}

.login-container form button:hover {
  cursor: pointer;
  background: #ffffff9e;
  transition: 0.3s ease-in-out;
}

.login-container form p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 0.9rem;
}

.login-container form p a {
  color: #fff;
  transition: 0.3s ease-in-out;
}

.login-container form p a:hover {
  cursor: pointer;
  color: #ffffff9e;
  transition: 0.3s ease-in-out;
}
/* Login Container Ends Here */

/* Edit Account Starts Here */
.account-container form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 2px solid #fff;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
}
.account-container label {
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 10px;
}
.account-container input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
}
.account-container button {
  padding: 8px;
  margin-top: 15px;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.account-container button:hover {
  background: #ffffffca;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
/* Edit Account Ends Here */

/* Responsiveness Starts Here */

/* Phone Responsiveness */
@media screen and (max-width: 450px) {
  .main-container {
    width: 98%;
  }
  .main-container .content .content-card .card-title img {
    width: 18%;
  }

  .main-container .content .content-card .card-end {
    gap: 5px;
  }

  .login-container {
    width: 98%;
  }

  .main-container .content .content-card .card-title .delete {
    width: 15%;
    margin-left: 40%;
  }
}

/* Tablet Responsiveness */
@media screen and (max-width: 1024px) {
  .main-container {
    width: 98%;
  }
  .main-container .content .content-card .card-title img {
    width: 8%;
  }

  .main-container .content .content-card .card-end {
    gap: 5px;
  }
  .login-container {
    width: 98%;
  }
  .main-container .content .content-card .card-title .delete {
    width: 4.5%;
    margin-left: 60%;
  }
}
/* Responsiveness Ends Here */
